@model IEnumerable<MvcDemo.Models.SeguidoresViewModel>

@{
    ViewBag.Title = "Lista de Seguidores";
}

@{
    var simboloArroba = '@';
}

<div class="br-pagebody col-12">
    <div class="br-section-wrapper col-12">
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Lista de Seguidores</h6>
        <p class="mg-b-25 mg-lg-b-50">Lista dos seguidores. Esses são seus amigos. Trate-os bem e seja recíproco. Só não vele dar Unfollow!</p>


        <a href="/StatusDemos/Index" class="btn btn-outline-info">Voltar para a Lista</a>
        <br /><br />

        <table id="flw" class="table display responsive datatableSeguidores">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProfileImageUrl)</th>

                    <th>@Html.DisplayNameFor(model => model.ScreenNameResponse)</th>

                    <th>@Html.DisplayNameFor(model => model.Description)</th>

                    <th>@Html.DisplayNameFor(model => model.FriendsCount) / @Html.DisplayNameFor(model => model.FollowersCount)</th>

                    <th>@Html.DisplayNameFor(model => model.Following)</th>

                    <td>@Html.DisplayNameFor(model => model.Protected)</td>

                    <th>@Html.DisplayNameFor(model => model.Verified)</th>
                </tr>
            </thead>

            @*/*
                        [DisplayName("Media Liberada")]
                        public bool ShowAllInlineMedia { get; set; }
                        [DisplayName("Linguagem")]
                        public string LangResponse { get; set; }

                */*@
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td class="pd-l-0-force"><img src="@item.ProfileImageUrl" alt="@item.ScreenNameResponse" class="wd-40 rounded-circle" /></td>
                        <td>
                            <h6 class="tx-inverse tx-14 mg-b-0">"@Html.DisplayFor(modelItem => item.Name)"</h6>
                            <span class="tx-12">@simboloArroba@Html.DisplayFor(modelItem => item.ScreenNameResponse)</span>
                        </td>

                        <td>@Html.DisplayFor(modelItem => item.Description)</td>

                        <td>@Html.DisplayFor(modelItem => item.FriendsCount) / @Html.DisplayFor(modelItem => item.FollowersCount)</td>

                        <td>
                            @if (!item.Following)
                            {
                                var ScreenName = @item.ScreenNameResponse;
                                <a href="/StatusDemos/Seguir?ScreenName=@ScreenName" name=@item.ScreenNameResponse class="cas-button-sgr">Seguir</a>
                            }
                            else
                            {
                                @*<a href="#" class="btn btn-outline-danger btn-sm">Unfollow</a>*@
                                <a href="#" class="cas-button-sgn muda">
                                    <span class="normal">Seguindo</span>
                                    <span class="hover">Deixar de seguir</span>
                                </a>

                                @*@Html.DisplayFor(modelItem => item.Following)*@
                            }
                        </td>

                        <td>
                            @if (!item.Protected)
                            {
                                <div>Não</div>
                            }
                            else
                            {
                                <div><strong>Sim</strong></div>
                            }
                        </td>

                        <td>
                            @if (!item.Verified)
                            {
                                <div>Não</div>
                            }
                            else
                            {
                                <div><strong>Sim</strong></div>
                            }
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <br />
        <a href="/StatusDemos/Index" class="btn btn-outline-info">Voltar para a Lista</a>
        <br />

    </div>
</div>




@section Scripts
{
<script>
        $('.datatableSeguidores').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Busca...',
                sSearch: '',
                lengthMenu: '_MENU_ Itens por Página',
            }
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });


        //$("#seguir").click(function () {
        //    var userid = $(this).attr("data-userid");
        //    $("#modal").load("/StatusDemos/Seguir?id=" + userid + "&follow=" + true, function () {
        //        $("#modal").modal();
        //    });
        //});


        //this.seguir = function () {
        //    var response = $http({
        //        method: "GET",
        //        url: "/StatusDemos/Seguir/",
        //        params:
        //        {
        //            userid,
        //            true
        //        }
        //    });
        //    return response;
        //}


        @*@Scripts.Render("~/bundles/core")
            @Scripts.Render("~/bundles/datatableswithtools");

            <script>
                $(document).ready(function () {
                    $('.evolumed').DataTable({
                        dom: 'T<"clear">lfrtip',
                        tableTools: {
                            "sSwfPath": "../../myPlugins/copy_csv_xls_pdf.swf"
                        }
                    });
                });
            </script>*@

</script>
}

